body {
    font-family: Roboto;
}

.icon-g {
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}

.icon-s {
    width: 0.6em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}

.icon-k {
    height: 1em;
    vertical-align: middle;
    display: inline-block;
}